In [12]:
import psycopg2
import sqlite3
import pandas as pd
import access

# Configurações do PostgreSQL
pg_conn = psycopg2.connect(
    host=access.HOST,
    database=access.DATABASE_PG,
    user=access.DATABASE_PG_USER,
    password=access.DATABASE_PG_PWD
)

# Conexão SQLite
conn = sqlite3.connect('C:/ProjetosPython/Gerar_scripts/database/config_scripts.db')
cursor = conn.cursor()

# Função para adicionar coluna
def column_add(columns, column_name, column_type):
    columns.append((column_name, column_type))

# Função para obter estrutura da tabela no PostgreSQL
def get_pg_table_structure(table_name):
    with pg_conn.cursor() as cursor:
        cursor.execute(f"SELECT column_name, data_type FROM information_schema.columns WHERE table_name = %s", (table_name,))
        return cursor.fetchall()

# Função para obter estrutura da tabela no PostgreSQL com colunas adicionadas
def get_pg_table_structure_with_added_column(table_name):
    columns = get_pg_table_structure(table_name)
    column_add(columns, 'CREATED_AT', 'TIMESTAMP_NTZ(9)')
    column_add(columns, 'UPDATED_AT', 'TIMESTAMP_NTZ(9)')
    column_add(columns, 'ID_DATABASE', 'VARCHAR(50)')
    return columns

# Função para criar tabela no Snowflake
def create_sf_table(table_name, columns):
    create_query = f"create or replace sequence {table_name}_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE {table_name} ({', '.join([f'{col[0]} {col[1]}' for col in columns])});"
    print(create_query)

# Função para migrar tabela
def migrate_table(pg_table_name, sf_table_name):
    pg_columns_with_added = get_pg_table_structure_with_added_column(pg_table_name)
    create_sf_table(sf_table_name, pg_columns_with_added)

try:
    # Leitura das tabelas do SQLite
    query_tabelas_full = "SELECT * FROM config_tabelas_full WHERE ATIVO = 'true';"
    df_tabelas_full = pd.read_sql_query(query_tabelas_full, conn)

    for _, tabelas_full in df_tabelas_full.iterrows():
        SCHEMA = tabelas_full['SCHEMA']
        TABELA = tabelas_full['TABELA']
        
        # Exemplo de migração de uma tabela com a nova coluna 'CREATED_AT'
        migrate_table(TABELA, f"RESSARCIMENTO.CURATED_DATA.{TABELA}")
        
except Exception as err:
    print(err)

create or replace sequence RESSARCIMENTO.CURATED_DATA.motivos_fat_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.motivos_fat (id integer, ds_motivo text, cod_motivo character varying, terminativo boolean, classificacao character varying, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.pbm_vendas_pedidos_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.pbm_vendas_pedidos (id integer, pbm_vendas_id integer, pedido_id integer, quantidade integer, dthr_atualizacao timestamp without time zone, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.pbm_vendas_repostas_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.pbm_vendas_repostas (id integer, pbm_vendas_id integer, quantidade_reposta integer, produto_id integer, percentual_pmc numeric, documento character varying, pbm_reposicao_id integer, pbm_reposicao_tipo character varying, cnpj_repositor character varying, pbm_reposicao_lote_id integer, data_reposicao date, percentual_reposicao numeric, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.produtos_pedidos_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.produtos_pedidos (id integer, id_pedido integer, ean_produto character varying, atendido boolean, desconto_prod numeric, pr_produto_fat numeric, quant_ped integer, quant_esp integer, quant_not integer, vl_prod_not numeric, vl_desc_prod_not numeric, pr_prod_ped numeric, prazo_produto integer, vl_desconto numeric, motivo character varying, perc_desconto numeric, perc_desconto_nota numeric, valor_total_nota numeric, valor_total_desconto_nota numeric, desconto_folha numeric, desconto_base numeric, desconto_adicional numeric, fracionamento_padrao integer, produto_id integer, quantidade_embalagem integer, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.produtos_notas_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.produtos_notas (id integer, sub_produtos_pedidos_id integer, notas_sub_pedidos_id integer, qtd_faturada integer, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.clientes_area_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.clientes_area (id integer, id_area integer, id_cliente integer, id_usu_tipo integer, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.sortimentos_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.sortimentos (id integer, ds_sortimento text, cod_sort_prof character varying, apli_desconto character varying, excluido boolean, data_carga date, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.tipos_cliente_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.tipos_cliente (id integer, ds_tipo character varying, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.sub_produtos_pedidos_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.sub_produtos_pedidos (id integer, id_pedido integer, ean_produto character varying, atendido boolean, desconto_prod numeric, pr_produto_fat numeric, quant_ped integer, quant_esp integer, quant_not integer, vl_prod_not numeric, vl_desc_prod_not numeric, pr_prod_ped numeric, prazo_produto integer, vl_desconto numeric, motivo character varying, perc_desconto numeric, perc_desconto_nota numeric, pr_distribuidor numeric, valor_ressarcimento numeric, desconto_ressarcimento numeric, preco_distibuidor_venda numeric, id_nota integer, vl_diferenca numeric, perc_desc_distribuidor numeric, motivo_op_logistico character varying, desconto_folha numeric, id_conferencia_conformidade integer, base_calculo_icms numeric, base_calculo_icms_st numeric, perc_icms numeric, perc_ipi numeric, valor_icms numeric, valor_ipi numeric, valor_icms_repassado numeric, cfop numeric, flag_st character varying, lista_positiva character varying, classe_produto character varying, dcb character varying, valor_repasse numeric, valor_total_produto numeric, valor_total_prod_encargos numeric, codigo_st character varying, perc_desc_financeiro numeric, tipo_produto character varying, conciliado boolean, desconto_entrada numeric, ean_faturado character varying, qtd_divergente numeric, fracionamento_distribuidor integer, produto_id integer, ean_enviado character varying, quant_estorno integer, id_usuario_responsavel_estorno integer, datahora_estorno timestamp without time zone, data_atualizacao_motivo date, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.divisao_produto_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.divisao_produto (id integer, descricao character varying, caixa_postal character varying, divide_pedido_direto integer, excluido boolean, json_integracao_funcional character varying, json_integracao_funcional_conta_pagar character varying, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.condicoes_fat_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.condicoes_fat (id integer, codigo character varying, id_operador integer, texto text, excluido boolean, data_carga date, dt_expiracao date, st_folha integer, tipo_envio integer, id_fabricante integer, prazo integer, id_negociacao integer, dias_envio integer, bloqueado boolean, id_tipo_meta integer, tipo_meta_prod integer, tipo_meta_tipo integer, id_regra_envio integer, id_usu_resp integer, dt_criacao timestamp without time zone, data_fechamento integer, nr_reenvios_pedido integer, dias_reenvios_pedido integer, obs character varying, cd_folha character varying, id_sub_regiao integer, valor_minimo numeric, seleciona_distr boolean, disponibilidade integer, tipo_relacionamento integer, nr_semi_obrigatorios integer, utiliza_desc_maximo boolean, margem numeric, disp_todas_areas boolean, minimo_por_demanda boolean, tipo_media character varying, minimo_unidades integer, desconto_adicional boolean, qtd_cortes integer, data_inicio date, desconto_adicional_familia boolean, divide_pedido boolean, fechamento boolean, tv character varying, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.grupos_clientes_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.grupos_clientes (id integer, descricao text, contato character varying, email character varying, ddd character varying, telefone character varying, excluido boolean, id_semana_visitacao integer, id_frequencia_visitacao integer, ds_comprador character varying, dt_aniversario character varying, id_semana_visitacao2 integer, id_periodo_visitacao integer, nr_semana integer, nr_semana2 integer, prospect boolean, cnpj_matriz character varying, razao_social character varying, id_estado integer, cidade character varying, endereco character varying, tipos_cliente_id integer, cep character varying, motivo_exclusao text, id_cidade integer, codigo_bandeira integer, reposicao_programada boolean, diretorio character varying, pbm_tipo_grupos_clientes_id integer, codigo_industria integer, layout_copia_pedido_enviado integer, codigo_flag_programa character varying, sigla_autorizador character varying, condicao_copia character varying, tipo_integracao_copia integer, max_unidades_pedido_indireto integer, tipo_recorrencia_pedido_indireto integer, recorrencia_pedido_indireto character varying, permitir_emails_pendencias_pdvs integer, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.area_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.area (id integer, ds_area character varying, id_sub_regiao integer, id_certificado integer, codigo character varying, max_contratos integer, ativo boolean, id_subregiaoperforma integer, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.familia_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.familia (id integer, descricao text, sortimentos_id integer, desconto_maximo integer, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.notas_sub_pedidos_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.notas_sub_pedidos (id integer, id_sub_pedido integer, numero_nota character varying, datahora timestamp without time zone, valor_total numeric, lote_gerado boolean, data_saida_nota date, chave_danfe character varying, finalizado boolean, md5_produtos character varying, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.sub_pedidos_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.sub_pedidos (id integer, id_pedido integer, id_op_logistico integer, datahora timestamp without time zone, vl_total_desc_esp numeric, datahoraproc timestamp without time zone, codped_forn integer, id_status integer, datahora_ret timestamp without time zone, data_envio timestamp without time zone, nr_nota integer, vl_nota numeric, base_calc_icms_st numeric, base_calc_icms numeric, vl_desc_nota numeric, vl_repasse_icms numeric, vl_icms numeric, data_saida_nota date, serienota character varying, data_proc_nota date, hora_proc_nota time without time zone, vl_frete numeric, vl_seguro numeric, vl_outras_disp numeric, margem_atual numeric, confirmado boolean, blq_numero character varying, blq_vencimento character varying, blq_valor character varying, margem_diferenciada boolean, ciclo_concluido timestamp without time zone, total_monitorados integer, total_nao_monitorados integer, datahora_not timestamp without time zone, utiliza_ressarcimento boolean, id_usu_autorizador integer, obs text, motivo character varying, sub_pedido_notificado boolean, id_conferencia_conformidade integer, vl_total_esp numeric, modelo_nota_fiscal character varying, valor_ipi numeric, qtd_volume integer, vl_icms_retido numeric, prazo_faturado integer, nome_arquivo_distribuidor character varying, tipo_envio integer, enviado_bi boolean, cnpj_faturado character varying, status_conciliacao_tracker character varying, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.pedido_direto_produtos_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.pedido_direto_produtos (id integer, pedidos_diretos_id integer, produto_id integer, pbm_reposicao_direta_id integer, quantidade_pedida integer, quantidade_nota integer, percentual_pmc numeric, notas_pedidos_diretos_id integer, ean_pedido character varying, ean_nota character varying, percentual_reposicao numeric, percentual_reposicao_enviado numeric, preco_produto numeric, ean_original character varying, antecipacao_saldo integer, memoria_calculo character varying, quantidade_atendida_retorno integer, quantidade_nao_atendida_retorno integer, desconto_industria numeric, motivo character varying, quantidade_pedida_original integer, desconto_entrada numeric, valor_credito_comercial_utilizado numeric, valor_credito_comercial_original numeric, percentual_reposicao_direta_original numeric, percentual_enviado_arquivo numeric, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.op_logisticos_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.op_logisticos (id integer, ds_operador text, nr_cnpj character varying, dir_ped text, id_op_master integer, cond_fat_negoc integer, ped_negoc integer, margem numeric, id_sub_regiao integer, id_estado integer, calculo_st character varying, ds_email character varying, id_cidade integer, endereco character varying, complemento character varying, bairro character varying, cep character varying, cnpj_faturamento character varying, inativo integer, data_inativo timestamp without time zone, id_usuario_inativo integer, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.pedidos_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.pedidos (id integer, id_cliente integer, id_op_logistico integer, processo character varying, datahora timestamp without time zone, id_usu_resp integer, id_usu_autorizador integer, faturado boolean, nr_nota integer, vl_nota numeric, cod_cliente character varying, cond_fat character varying, pendente boolean, excluido boolean, base_calc_icms_st numeric, base_calc_icms numeric, vl_desc_nota numeric, vl_repasse_icms numeric, vl_icms numeric, data_saida_nota date, prazo_negociado integer, desconto numeric, id_status integer, ds_pedido text, cod_pedido text, tipo_desconto character varying, usu_nivel integer, apli_desconto character varying, datahoraproc timestamp without time zone, vl_total_desc_esp numeric, vl_total_esp numeric, codped_forn integer, id_fabricante integer, id_cond_fat integer, vl_total_pedido numeric, vl_total_desc_pedi numeric, serienota character varying, data_proc_nota date, hora_proc_nota time without time zone, blq_numero character varying, blq_vencimento character varying, blq_valor character varying, vl_frete numeric, vl_seguro numeric, vl_outras_disp numeric, data_envio timestamp without time zone, id_sub_pedido integer, nr_reenvios integer, fechamento boolean, pedido_automatico boolean, faceamento boolean, cancelado boolean, ciclo_concluido timestamp without time zone, total_reenvios integer, dias_reenvio_pedido integer, email_notificacao character varying, valor_minimo numeric, obs text, datahora_not timestamp without time zone, integracao_id integer, id_area integer, pedido_extra boolean, pedido_dividido integer, margem_diferenciada_liberada boolean, reposicao_especial integer, reposicao_fracionada integer, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.operador_master_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.operador_master (id integer, ds_op_master text, diretorio text, meta numeric, tipo_margem integer, utiliza_notas_divididas boolean, bloqueia_produtos boolean, ativo boolean, nr_cnpj character varying, formula_ressarcimento character varying, tipo_faturamento character varying, versao_layout character varying, codigo character varying, utiliza_ean_faturado boolean, utiliza_layout_webol boolean, envia_pedido_por_email boolean, valida_pedido_margem_diferenciada boolean, prazo_diferenciado_dia boolean, prazo_anterior character varying, prazo_depois character varying, dia_corte integer, codigo_industria integer, ocultar_no_marketplace integer, excluido boolean, estado_id integer, email character varying, wholesaler_edi_habilitado integer, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.sub_regiao_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.sub_regiao (id integer, ds_sub_regiao character varying, id_regiao integer, id_certificado integer, codigo character varying, id_usu_tipo integer, max_contratos integer, ativo boolean, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.estado_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.estado (id integer, sigla character varying, nome character varying, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));
create or replace sequence RESSARCIMENTO.CURATED_DATA.cad_produtos_SEQUENCE start with 1 increment by 1; CREATE OR REPLACE TABLE RESSARCIMENTO.CURATED_DATA.cad_produtos (id integer, ds_produto text, id_fabricante integer, cod_ean text, id_categoria integer, excluido boolean, data_carga date, id_sortimento integer, preco_produto numeric, familia_id integer, preco_venda numeric, monitorado boolean, controle_preco boolean, quantidade integer, embalagem integer, cod_produto character varying, produto_kit boolean, divisao_produto_id integer, ativado boolean, sazonal boolean, ds_produto_abrev character varying, bloqueia_envio smallint, bloqueia_envio_pedido_direto integer, curva_abc character varying, ressarcimento_financeiro boolean, codigo_industria integer, cod_ean_fracionado text, box_value numeric, bloqueia_baixa_automatica integer, excecao_limite_pedido_indireto integer, CREATED_AT TIMESTAMP_NTZ(9), UPDATED_AT TIMESTAMP_NTZ(9), ID_DATABASE VARCHAR(50));